body{
  background-color: white;
  text-align: center;
  margin: 0;
}
#world{
  width: 700px;
  height: 100vh;
  border-left: 20px solid #555;
  border-right: 20px solid #555;
  display: inline-block;
}
.logos{
  float: left;
}
img{
  display: block;
  margin-left: 80px;
  margin-top: 80px;
}